.button p {
    font-size: 19px;
    font-family: 'Helvetica 65 Medium', sans-serif;
    color: white;
}

.button {
    background: #85A082;
    border-radius: 27.5px;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    display: inline-block;
}