.products h2 {
    font-size: 33px;
    font-family: 'Helvetica 65 Medium', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

@media (max-width: 760px) {
    .products h2 {
        font-size: 15px;
    }
}

.form1 {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.move1 {
    position: relative;
    top: 100px;
}

.shape1 {
    position: absolute;
    top: 29%;
    left: 3%;
    width: 20%;
    height: 100%;
    background-color: #F8D9C3;
    border-radius: 40% 40% 0 0;
    opacity: 0.7;
    z-index: -1;
}

@media (max-width: 760px) {
    .shape1 {
        top: 60%;
        width: 15%;
        height: 200%;
    }
}

.form2 {
    position: relative;
    display: inline-block;
    margin-bottom: -150px;
}

@media (max-width: 760px) {
    .form2 {
        margin-bottom: -30px;
    }
}

.move2 {
    position: relative;
    top: -300px;
    left: 75%;
}

@media (max-width: 760px) {
    .move2 {
        top: -90px;
        left: 33%;
    }
}

.shape2 {
    position: absolute;
    top: -70%;
    left: 37%;
    width: 25%;
    height: 100%;
    background-color: #DBCD68;
    border-radius: 40% 40% 0 0;
    z-index: -1;
}

@media (max-width: 760px) {
    .shape2 {
        top: -40%;
    }
}

.form3 {
    position: relative;
    display: inline-block;
    margin-bottom: -300px;
}

.move3 {
    position: relative;
    top: -500px;
    left: 300%;
}

@media (max-width: 760px) {
    .move3 {
        top: -200px;
        left: 400%;
    }
}

.shape3 {
    position: absolute;
    top: -155%;
    left: 85%;
    width: 20%;
    height: 100%;
    background-color: #E1DDEA;
    border-radius: 40% 40% 0 0;
    opacity: 0.7;
    z-index: -1;
}

@media (max-width: 760px) {
    .shape3 {
        top: -80%;
        left: 75%;
        width: 15%;
        height: 50%;
    }
}