.sale p {
    margin-top: 170px;
    margin-bottom: 20px;
}

@media (max-width: 760px) {
    .sale p {
        margin: 170px 50px 20px 50px;
        text-align: center;
    }
}

.sale .button p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sale .button {
    margin-top: 15px;
}

@media (max-width: 760px) {
    .sale .button {
        margin-top: 0px;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.sale .cube {
    background-color: #FBBF42;
}

@media (max-width: 760px) {
    .sale img {
        width: 100%;
        height: auto;
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}