.sale p {
    margin-top: 170px;
    margin-bottom: 20px;
}

.sale .button p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sale .button {
    margin-top: 15px;
}

.sale .cube {
    background-color: #FBBF42;
}